<header>
    <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Projeto Cantina</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/cardapio">Cardapio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/resolvidos">Resolvidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sair</a>
                </li>
              </ul>

            </div>
          </div>
      </nav>

</header>
<main >
  <article style="padding: 1%">
  <div class="d-flex justify-content-end mr-3">
    <a class="btn btn-dark mt-1 ml-auto  mr-3" routerLink="/novolanche" role="button">Novo Lanche</a>
  </div>
</article>
  
<h2 class=" text-center titulo-pagina">Cardápio </h2>  
<div style="padding: 1em 20% 5% 20%;">
<div class="card list-group rounded " style="margin-bottom:2%" *ngFor="let cantinas of cantina">
    <div class=" text-center">
    <a [routerLink]=""  class="list-group-item list-group-item-action rounded">
      Nome do Lanche: {{ cantinas.nome }}<br>
      Descrição: {{ cantinas.descricao }}<br>
      Quantidade: {{ cantinas.quantidade }} unidades<br> 
      Preço: {{ cantinas.preco }}<br>
      
      <a class="btn btn-success " [routerLink]="['/editalanche',cantinas._id]" role="button">Editar</a>
      <a class="btn btn-danger ms-2" [routerLink]="['/droplanche', cantinas._id]" role="button">Apagar</a>


    </a>

  
<!--['/home', cliente._id]-->
    
  </div>
</div>
</div>

</main>
 