<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-toggle>
        <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen class='ion-padding'>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Lanches </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Lanche 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Lanche 2</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Lanche 3</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label> Bebidas </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Bebidas 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bebidas 1</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Bebidas 1</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
